#* @vtlvariable name="canReadSubjects" type="java.lang.Boolean" *#
#* @vtlvariable name="displayManager" type="org.nrg.xdat.display.DisplayManager" *#
#* @vtlvariable name="om" type="org.nrg.xdat.om.XnatSubjectdata" *#
#* @vtlvariable name="project" type="java.lang.String" *#
#* @vtlvariable name="subject" type="org.nrg.xdat.om.XnatSubjectdata" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
<!-- BEGIN xnat-templates/screens/xnat_subjectData/xnat_subjectData_report.vm -->
#set ( $exptHeadings = ["Date", "Type", "ID", "Investigator" ] )
		<style>
DIV.container{
	border: 1px solid #AAAAAA;
    width:250px;
}
DIV.containerTitle{
			    border: 1px solid #AAAAAA;
    padding:3px;
    font-weight:500;
	font-family:verdana,geneva,helvetica;
}
DIV.containerBody{
    width:99%;
    overflow:auto;
    font-size:13px;
    line-height:15px;
    padding:3px;

		</style>
<script type="text/javascript">
if(XNAT.app.subject==undefined)XNAT.app.subject=new Object();
</script>
<DIV class="edit_title">$displayManager.getSingularDisplayNameForSubject() Details: #if($!om.getIdentifier($project,true))$!om.getIdentifier($project,true)#elseif($om.getLabel())$!om.getLabel()#else$!om.getId()#end</DIV>
<TABLE width="100%">
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
		<!--BEGIN SUBJECT SUMMARY TABS -->
<STYLE>
span.spacer{
height:12px;
width:1px;
}
</STYLE>

#addCustomScreens($om.getXSIType() "report/preDetails")

<div ID="subject_summary_module" style="display:none">
 <DIV id="subjectSummary" class="yui-navset">
  <ul class="yui-nav" style="">
      <li class="selected"><a href="#tab1"><em>Details<span class="spacer"></span></em></a></li>
      <li><a href="#tab2"><em>$displayManager.getPluralDisplayNameForProject()<span class="spacer"></span></em></a></li>
  </ul>
 <div class="yui-content">
  <div id="tab1">
 <table>
#parse($turbineUtils.getTemplateName("_keyFields","xnat:subjectData",$!project))
 </table>
</div>

  <div id="tab2">
	  #parse($turbineUtils.getTemplateName("sharing","xnat:subjectData",$!project))
  </div>
  </div>
 </DIV>
</div>
<script type="text/javascript">
function summaryIndexChanged(){
   YAHOO.util.Cookie.set("${project}.summary.index", this.get("activeIndex"));
}

function summaryTabManagerInit(){
    window.summaryTabView = new YAHOO.widget.TabView('subjectSummary');
    window.subject_summary_module = new YAHOO.widget.Module("subject_summary_module",{visible:false,zIndex:5});

#addCustomScreenJS($om.getXSIType() "report/tabs_js")

    window.subject_summary_module.show();

#if($canReadSubjects)
    var tabIndex=YAHOO.util.Cookie.get("${om.getId()}.summary.index");
    window.summaryTabView.set('activeIndex',tabIndex||0);

    window.summaryTabView.subscribe("activeTabChange",summaryIndexChanged);
#end
					}
					summaryTabManagerInit();
</script>
<!--END SUBJECT SUMMARY TABS -->
					</TD>
					<TD valign="top" align="right" rowspan="2">
#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
	<TR><TD colspan="3"><BR>
			#parse("/screens/ReportProjectSpecificFields.vm")
	</TD></TR>
			</TABLE>
		</TD>
	</TR>
<tr>
	<td>
		#addCustomScreens($om.getXSIType() "report/preAssessors")
	</td>
</tr>
	<TR>
		<TD>
			#if($turbineUtils.getTemplates($om.getXSIType(),"report/assessor_tabs").size() == 0)
			    #parse($turbineUtils.getTemplateName("_assessors","xnat:subjectData",$project))
			#else
                #set($useTabs=true)
                #parse($turbineUtils.getTemplateName("assessors_tabs","xnat:subjectData",$project))
            #end
		</TD>
	</TR>
<tr>
	<td>
		#addCustomScreens($om.getXSIType() "report/postAssessors")
	</td>
</tr>
			#parse($turbineUtils.getTemplateName("_resources","xnat:subjectData",$project))
</TABLE>
<!-- END xnat-templates/screens/xnat_subjectData/xnat_subjectData_report.vm -->
